#gm-joined { display: none; }
#timer { display: none; }

#toast {
	position: fixed;
	bottom: 3rem;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px 40px;
	border-radius: 5rem;
	z-index: 1051;
	transition: opacity 0.3s;
	opacity: 0;
	display: none;
}

.dot {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
}

#play {
	display: none;
}

.btn-group.radio {
	input[type="radio"]:checked + label {
		color: #292b2c;
		background-color: #e6e6e6;
		background-image: none;
		border-color: #adadad;
	}
}

@media (min-width: 576px){
	#join .card {
		max-width: 25rem;
	}
}
